body{
    background-color: rgb(141, 226, 43);
}
.my-form{
    border: 2px solid #000000;
    padding: 30px;
    height: 520px;
    width: 250px;
    margin: auto;
    background-color: rgb(140, 0, 255);
    
}
.my-div{
    padding: 10px;

}